[submodule "MoJoint_Hardware"]
	path = MoJoint_Hardware
	url = git@github.com:zagerx/MoJoint_Hardware.git
[submodule "MoJoint_Firmware"]
	path = MoJoint_Firmware
	url = git@github.com:zagerx/MoJoint_Firmware.git
